#chat-screen {
  background-color: wheat;
  height: 500vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  z-index: 2;
}
#chat-screen .alt-header {
  background-color: wheat;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}
.chat__timestamp {
  text-align: center;
  background-color: #92a4b2c0;
  color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 25px;
}

@keyframes fadeIn-left {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn-right {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.msg-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeIn-left 0.8s linear;
}
.msg-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}
.msg__author {
  opacity: 0.8;
  font-weight: 600;
}
.msg__info {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.msg__bubble {
  display: flex;
  border-radius: 15px;
  border-top-left-radius: 0px;
  background-color: white;
  padding: 10px 12px;
  margin-top: 8px;
  font-weight: 600;
  font-size: 17px;
}
.msg__time {
  color: var(--grey);
  font-size: 13px;
  margin: 5px;
}

.msg-row--own {
  justify-content: flex-end;
  animation: fadeIn-right 0.8s linear;
}
.msg-row--own .msg__bubble {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  background-color: var(--pink);
}
.msg-row--own .msg__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 25px;
  transition: transform 0.3s ease-in-out;
}
.reply__column {
  font-size: 20px;
}
.reply .reply__column:first-child {
  width: 10%;
  margin-left: 10px;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: var(--main-border);
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.reply__column > i {
  color: var(--grey);
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -5px;
  top: 4px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 12px;
}
.reply__column button {
  background-color: var(--pink);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-12%) translateY(-80px);
  width: 93vw;
}

.reply:focus-within {
  transform: translateY(80px);
}
