.recommended-friends {
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--grey);
}
/*
.recommended-friends span {
  display: block;
  font-size: 14px;
  color: var(--grey);
  text-align: center;
  margin: 110px 0px;
}*/
.recommended-friends .user-component {
  margin: 0 20px;
  margin-top: 25px;
}

.open-chat__header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}
.open-chat__header a {
  opacity: 0.5;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  border-bottom: var(--main-border);
  padding-bottom: 20px;
}
.open-post:last-child {
  border: none;
}
.open-post__title {
  font-size: 18px;
  font-weight: 600;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--grey);
  margin: 7px 0px;
  font-size: 15px;
}
.open-post__members {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  columns: var(--grey);
}
.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  background-color: var(--grey);
  margin: 0 5px;
}
.open-post__member-status {
  color: #ff84ce;
}

.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 20px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  /*will-change
  브라우저에게 앞으로 일어날 변화를 미리 알려줌으로써
  변화가 조금 더 부드럽고 깔끔하게 일어나도록 브라우저를 준비시키는 과정*/
  animation: heartBeat 1s linear infinite;
}
