#friends-display-link {
  display: block;
  text-align: center;
  background-color: #dce4eb86;
  padding: 15px 0px;
  margin-bottom: 10px;
  font-size: 17px;
  margin-top: -15px;
}
#friends-display-link i {
  opacity: 0.4;
  margin: 0px 10px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel,
.friends-screen__friends {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header,
.friends-screen__friends-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--pink);
  color: white;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
