.more-screen .icon-row {
  font-size: 16px;
  margin-top: 30px;
}
.more-screen .user-component__column:last-child {
  color: inherit;
}

.suggestions {
  margin-top: 30px;
  border-top: 1px solid var(--grey);
}
.suggestions__title {
  font-weight: 600;
  margin: 30px 0;
}
.suggestions__icons {
  display: flex;
  align-items: center;
}
.suggestions__icon {
  margin-left: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.suggestions__icon-img {
  width: 60px;
  height: 60px;
  background-color: var(--pink);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.suggestions__icon-text {
  display: block;
  margin-top: 10px;
  color: var(--grey);
  font-size: 14px;
}
