.screen-header {
  padding: var(--horizontal-space);
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons {
  position: relative;
}

@keyframes rotateCogAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCogAnimation 1s linear infinite;
}

@keyframes rotateFishAnimation {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-fish:hover {
  animation: rotateFishAnimation 1s linear infinite;
}
